
<h1>Import Users Page</h1>


<div class="d-flex justify-content-center align-items-center mt-2 ">

    <form action="/AdministratorUserImport" method="post" enctype="multipart/form-data">

        <input class="form-control" id="file" name="file" type="file" />

        <button type="submit" class="btn btn-lg btn-success" 
                asp-controller="AdministratorUserImport" asp-action="ImportUsers"> Upload User Excel File </button>

    </form>

</div>
